<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/aboutus.css">
</head>
<body style="background-image: url(aboutus.png);">
    <body style="background: linear-gradient(to right, #706cce, #17023b);">
        <div class="navbar" style="background: transparent">
            <a class="navbar-brand text-light" href="Home.html" style="padding-left: 30px;"><h1>InsightEdHub</h1></a>
            <nav class="navbar navbar-expand-lg bg-tertiary float-end"style="padding-right: 50px;">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-light"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav  ">
                      <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="index.html">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-light" href="Aboutus.html">About Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-light" href="#">Contact Us</a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
            </nav>
        </div>
        
        <div class="left">
            <img src="" alt="">
        </div>
        <div class="right">
            <div style="padding: 30px; font-size: 18px; font-weight:bold 25px; color: black;background-color: #fff; margin: 25px; opacity: 0.6;">
                <h3 style="text-align: center;">About Us</h3>
                <p>Welcome to InsightEdHub, a platform dedicated to unraveling the intricate tapestry of educational success through data-driven exploration. We are passionate about leveraging advanced analytics to understand the multifaceted factors influencing academic achievements.
                    At InsightEdHub, we delve into comprehensive datasets, dissecting the nuanced interplay between socio-economic dynamics and educational outcomes. Our mission is to empower policymakers, educators, and curious minds with accessible insights derived from rigorous analysis.
                    Driven by the UN Sustainable Development Goal 4 - Quality Education, our initiative aligns with the quest for inclusive, equitable education. We aim to bridge the gap between complex data and actionable insights, fostering a deeper understanding of what truly shapes academic excellence.  
                    Through interactive visualizations, predictive models, and meticulous findings, we strive to democratize educational data. Join us in exploring the myriad facets of educational success and contributing to a brighter, more informed educational landscape.                
                    Feel free to explore, engage, and embark on this enlightening journey with us. 
                    <br>For inquiries or collaborations, don't hesitate to contact us.</p>
            </div>
            <span style="background: white;"></span>
            <!-- <p style=""></p>
        </div>
</body>
</html>